.container section{
    height: 760px;
}

.impar-1{
    position: absolute;
    top: 0px;
}
.impar-3{
    position: absolute;
    top: 225px;
}
.impar-5{
    position: absolute;
    top: 523px;
}

.par-2{
    position: absolute;
    top: 0px;
}
.par-4{
    position: absolute;
    top: 225px;
}