*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background: #c0c0c0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #3d5575;
}
ul{
    list-style-type: none;
}
.container-topo{
    background: #3d5575;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.container-topologo{
    padding: 15px 15px 0 15px;
}
.logotopo{
    width: 100%;
    max-width: 70px;
    min-width: 50px;

}
.container-topoheader{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}
.container-topoheader h2{
    color: white;
}
.container{
    max-width: 100%;
    min-width: 20%;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-buttons-pags{
    display: inline-block;
    margin: auto;
    margin-bottom: 15px;
}
.container-buttons-pags a button{
    padding: 5px 10px;
    margin: 3px 3px;
    background: white;
    border: none;
    border-radius: 15px;
    color: #3d5575;
    font-weight: bold;
}
.container-buttons-pags a button:hover{
    padding: 5px 10px;
    margin: 3px 3px;
    background: #3d5575;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.infolink{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    background: white;
    max-width: 400px;
    min-width: 20%;
    width: auto;
    margin: auto;
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(128, 128, 128, .3);
}
.container-articles{
    margin: auto;
}
.article{
    background: white;
    max-width: 400px;
    min-width: 20%;
    width: auto;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(128, 128, 128, .3);
}
h2{
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}
.span-whatsapp{
    color: #028013;
}
.span-email{
    color: #ff3300;
}
.logos{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    max-height: 35px;
    margin-bottom: 5px;
    transition: 0.5s;
    padding: 4px;
    transition: 0.5s border;
}
.logos:hover{
    border: 1px solid #3d5575;
    border-radius: 5px;
    padding: 4px;
}
.ul1{
    font-size: 16px;
}
.ul2{
    margin-left: 8px;
    font-size: 14px;
}
.colorido{
    color: #ff3300;
}
.back-to-top{
    text-align: right;
    padding: 5px;
}
.container-footer{
    color: white;
    background: #3d5575;
    text-align: right;
    padding: 15px;
}
.container-footer footer p{
    font-size: 16px;
    margin-bottom: 10px;
    cursor: default;
}
.container-footer footer .desenvolvido{
    font-size: 10px;
    margin-bottom: 10px;
    cursor: default;
}
.container-footer footer .desenvolvido span{
    color: #3d5575;
    cursor: default;
}
.container-footer footer .desenvolvido span:hover{
    color: white;
    cursor: default;
}
.container-footer footer ol{
    list-style-type: none;
}
.container-footer footer ol li{
    margin: 5px;
}
.container-footer footer ol li a{
    color: white;
    padding: 1px;
}
.container-footer footer ol li a:hover{
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 1px;
}
.logos-footer{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    max-height: 35px;
    transition: 0.5s;
    padding: 1px;
    transition: 0.5s border;
}
.container-footer footer ul li{
    display: inline-block;
}
.logos-footer:hover{
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 1px;
}
.container-footer footer ul li a:hover{
    color: white;
}