body, header, h1, h2, h3, h4, h5, h6, img, section, article, footer, p, ul, ol, li, a, span, code{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #c0c0c0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #3d5575;
}
ul{
    list-style-type: none;
}
.headerTopo{
    background: #3d5575;
    text-align: center;
    margin-bottom: 15px;
}
.logoTopo{
    width: 100%;
    max-width: 70px;
    min-width: 50px;
    padding: 15px 15px 0 15px;
}
#h1{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}
.section{
    max-width: 100%;
    min-width: 20%;
    width: auto;
    margin: auto;
}
.infolink{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    background: white;
    max-width: 40%;
    min-width: 20%;
    width: auto;
    margin: auto;
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(128, 128, 128, .3);
}
.article{
    background: white;
    max-width: 40%;
    min-width: 20%;
    width: auto;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(128, 128, 128, .3);
}
h2{
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}
.whatsapp{
    color: #028013;
}
.email{
    color: #ff3300;
}
.logos{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    max-height: 24px;
    margin-bottom: 5px;
    transition: 0.5s;
    padding: 4px;
}
.logos:hover{
    border: 1px solid #3d5575;
    border-radius: 10px;
    transition: 0.5s;
    padding: 4px;
}
.ul1{
    font-size: 16px;
}
.ul2{
    margin-left: 8px;
    font-size: 14px;
}
.colorido{
    color: #ff3300;
}
.footer{
    color: white;
    background: #3d5575;
    text-align: right;
    padding: 15px;
}